*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:100vh;
    background: linear-gradient(45deg,rgb(218, 102, 102),rgb(78, 78, 218));
    overflow: hidden;

}
.clock{
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: relative;
    
}
.clock:before{
    content: "";
    border-radius: 50%;
    background-color:black;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.num{
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    text-align: center;
    padding: 5px;
    font-size: 2rem;

}
.n1{
    transform: rotate(30deg);
    
}
.n2{
    transform: rotate(60deg);
}
.n3{
    transform: rotate(90deg);
}
.n4{
    transform: rotate(120deg);
}
.n5{
    transform: rotate(150deg);
}
.n6{
    transform: rotate(180deg);
}
.n7{
    transform: rotate(210deg);
}
.n8{
    transform: rotate(240deg);
}
.n9{
    transform: rotate(270deg);
}
.n10{
    transform: rotate(300deg);
}
.n11{
    transform: rotate(330deg);
}
.hand{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.hand div{
    position: absolute;
    background-color: black;
    left: 50%;
    bottom: 50%;
    border-radius: 3px;
}
.hr{
    width: 5px;
    height: 25%;
}
.min{
    width: 4px;
    height: 35%;
}
.sec{
    width: 1px;
    height: 40%;
}
